<div class="container">
  <div class="row">
    <div class="col-4">
      {{#if this.model.isNew}}
        <h1>Add Attribute</h1>
      {{else}}
        <h1>Edit Attribute</h1>
      {{/if}}

      <form class="attribute-form" onsubmit={{action "save"}}>
        {{#if this.errorMessage}}
          <div class="alert alert-danger">{{this.errorMessage}}</div>
        {{/if}}
        <div class="form-group">
          <label for="name">Name</label>
          {{input
            value=this.model.name
            class="form-control"
            id="name"
            autofocus=true
            required=true
          }}
        </div>
        <div class="form-group">
          <label for="value">Value</label>
          {{input
            value=this.model.value
            class="form-control"
            id="value"
            required=true
          }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-danger" onclick={{action "deleteAttr"}}>Delete</button>
      </form>
    </div>
  </div>
</div>
