<div class="row">
  <div class="col-6">
    <h2>Username</h2>
    <div class="mb-4">
      {{this.currentUser.username}}
    </div>

    <h2>User Attributes</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each @model.attributes as |attr|}}
          <tr>
            <td>{{attr.name}}</td>
            <td>{{attr.value}}</td>
            <td>
              <LinkTo @route="attribute" @query={{hash name=attr.name}}>
                Edit
              </LinkTo>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <LinkTo @route="attribute" @query={{hash name=undefined}} class="btn btn-light btn-block">
      Add attribute
    </LinkTo>
    {{#unless this.emailVerified}}
      <button class="btn btn-light btn-block" onclick={{action "verifyAttribute" "email"}} type="button">
        Verify email
      </button>
    {{/unless}}
    {{#unless this.phoneNumberVerified}}
      <button class="btn btn-light btn-block" onclick={{action "verifyAttribute" "phone_number"}} type="button">
        Verify phone number
      </button>
    {{/unless}}

    <h2 class="mt-4">Actions</h2>
    <LinkTo @route="change-password" class="btn btn-light btn-block">
      Change password
    </LinkTo>
    <LinkTo @route="delete-user" class="btn btn-outline-danger btn-block mt-3">
      Delete user
    </LinkTo>
  </div>

  <div class="col-6">
    <h2>Cognito Service</h2>
    <dl>
      <dt>Task Duration</dt>
      <dd>{{this.cognito._taskDuration}}</dd>
    </dl>

    <h2>ID Token</h2>
    <dl>
      <dt>Expiration</dt>
      <dd>{{this.idToken.expiration}}</dd>
    </dl>
    <pre><code>{{this.idToken.formatted}}</code></pre>

    <h2>Access Token</h2>
    <dl>
      <dt>Expiration</dt>
      <dd>{{this.accessToken.expiration}}</dd>
    </dl>
    <pre><code>{{this.accessToken.formatted}}</code></pre>

    <h2>Authenticated Data</h2>
    <pre><code>{{this.authenticatedData}}</code></pre>
  </div>
</div>
