<div class="row">
  <div class="col-6">
    <h2>Username</h2>
    <div class="mb-4">
      {{this.currentUser.username}}
    </div>

    <h2>User Attributes</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.attributes as |attr|}}
          <tr>
            <td>{{attr.name}}</td>
            <td>{{attr.value}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <h2>Actions</h2>
    <div class="row">
      <div class="col-9">
        {{#link-to "change-password" class="btn btn-primary btn-block"}}
          Change password
        {{/link-to}}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-9">
        {{#link-to "delete-user" class="btn btn-danger btn-block"}}
          Delete user
        {{/link-to}}
      </div>
    </div>

    {{! TODO: deleteAttributes }}
    {{! TODO: getAttributeVerificationCode }}
    {{! TODO: updateAttributes }}
    {{! TODO: verifyAttributes }}
  </div>

  <div class="col-6">
    <h2>ID Token</h2>
    <dl>
      <dt>Expiration</dt>
      <dd>{{this.idToken.expiration}}</dd>
    </dl>
    <pre><code>{{this.idToken.formatted}}</code></pre>

    <h2>Access Token</h2>
    <dl>
      <dt>Expiration</dt>
      <dd>{{this.accessToken.expiration}}</dd>
    </dl>
    <pre><code>{{this.accessToken.formatted}}</code></pre>

    <h2>Authenticated Data</h2>
    <pre><code>{{this.authenticatedData}}</code></pre>
  </div>
</div>
