<div class="container">

  <div class="row">
    <div class="col-4">
      <h1>Register</h1>
      <form class="register-form" onsubmit={{action "register"}}>
        {{#if this.errorMessage}}
          <div class="alert alert-danger">{{this.errorMessage}}</div>
        {{/if}}
        <div class="form-group">
          <label for="username">Username</label>
          {{input
            value=this.username
            class="form-control"
            id="username"
            placeholder="Username"
            autofocus=true
            required=true
          }}
        </div>
        <div class="form-group">
          <label for="email_address">Email address</label>
          {{input
            value=this.email
            class="form-control"
            id="email_address"
            placeholder="email@example.com"
          }}
        </div>
        <div class="form-group">
          <label for="phone">Phone number</label>
          {{input
            value=this.phone
            class="form-control"
            id="phone"
            placeholder="+18885551212"
          }}
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          {{input
            value=this.password
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            required=true
          }}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>