<nav class="navbar navbar-light navbar-expand bg-light">
  {{#link-to "index" class="navbar-brand"}}ember-cognito{{/link-to}}

  <div class="collapse navbar-collapse">
    <form class="form-inline ml-auto" onsubmit={{action "saveIds"}}>
      <label for="pool_id" class="sr-only">Cognito Pool ID</label>
      <input
        id="pool_id"
        class="form-control mr-sm-2"
        placeholder="Cognito Pool ID"
        aria-label="Cognito Pool ID"
        value={{this.poolId}}
        oninput={{action (mut this.poolId) value="target.value"}}
      >
      <label for="client_id" class="sr-only">Cognito Client ID</label>
      <input
        id="client_id"
        class="form-control mr-sm-2"
        placeholder="Cognito Client ID"
        aria-label="Cognito Client ID"
        value={{this.clientId}}
        oninput={{action (mut this.clientId) value="target.value"}}
      >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save</button>
    </form>
    <ul class="navbar-nav ml-4">
      {{#if this.session.isAuthenticated}}
        <li class="nav-item"><a href="#" class="logout-link" onclick={{action "logout"}}>Logout</a></li>
      {{else}}
        <li class="nav-item">{{#link-to "login" class="nav-link login-link"}}Login{{/link-to}}</li>
        <li class="nav-item">{{#link-to "register" class="nav-link register-link"}}Register{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</nav>
{{outlet}}
